<ion-header>
  <ion-toolbar>
    <ion-title>类型三</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <span id="time"></span>
    <div class="title">
      <ul>
        <li>根据图画与提示猜想最贴切的诗句</li>
        <li><img src="../../assets/{{this.question?.image}}"></li>
      </ul>
    </div>
    <form name="myform">
      <input id="answerA" readonly="readonly" type="text" name="answerA" value="{{this.question?.optionA}}" (click)='ans("A")'>
      <input id="answerB" readonly="readonly" type="text" name="answerB" value="{{this.question?.optionB}}" (click)='ans("B")'>
      <input id="answerC" readonly="readonly" type="text" name="answerC" value="{{this.question?.optionC}}" (click)='ans("C")'>
    </form>
  </div>
</ion-content>
