<ion-header>
  <ion-toolbar>
    <ion-title>poemgametwo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <div class="title">
      <ul>
        <li>根据图画与提示猜想最贴切的诗句</li>
        <li><img src="../../assets/icon/poem2.jpg"></li>
      </ul>
    </div>
    <input id="answerA" type="text" name="answerA" value="倚树沉眠日已斜">
    <input id="answerB" type="text" name="answerB" value="纤手轻拈红豆弄">
    <input id="answerC" type="text" name="answerC" value="愿君多采撷">
  </div>
</ion-content>
