<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
          <ion-icon style="float:left;width:50px;height:30px;color:blue" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>水灵清子</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <div class="people">
      <div id="head" >
        <img src="../../assets/icon/19.jpg">
      </div>
      <div id="signature">心如清水不染尘</div>
      <ul>
        <li id="like">
          <div id="div">
            <span>9625</span>
            <span id="text">获赞</span>
          </div>
          <div id="line"></div>
        </li>
        <li id="follow">
          <div id="div">
            <span>26</span>
            <span id="text">关注</span>
          </div>
          <div id="line"></div>
        </li>
        <li id="colloct">
          <div id="div">
              <span>967</span>
              <span id="text">收藏</span>
          </div>
            <div id="line"></div>
        </li>
        <li id="fans">
          <div id="div">
            <span>967</span>
            <span id="text">粉丝</span>
          </div>
        </li>
      </ul>
    </div>

    <div class="create">
      <div id="title">创作(18)</div>
      <div id="content">
          <ul id="ul">
              <li class="li">
                <div id="header">
                    <div class="div1"><img src="../../assets/icon/19.jpg" alt=""></div>
                    <div class="div2"><span>向日葵</span><span>2019.01.26</span></div>
                    <div class="div3">
                        <ion-icon name="ios-arrow-down" (click)="showList()"></ion-icon>
                        <ul class="hideList">
                          <li (click)="edit(item.pID,i)"><i class="iconfont icon-bianji"></i>编辑</li>
                          <li (click)="del(item.pID,i)"><i class="iconfont icon-picture-delet"></i>删除</li>
                        </ul>
                    </div>
                </div>
                <div id="contentdetail">
                  <p>
                    《菩萨蛮·小山重叠金明灭》

                    【唐】温庭筠
                    
                    小山重叠金明灭，鬓云欲度香腮雪。
                    
                    懒起画蛾眉，弄妆梳洗迟。
                    
                    照花前后镜，花面交相映。
                    
                    新帖绣罗襦，双双金鹧鸪。
                   
                  </p>
                  <img src="../../assets/icon/26.jpg" alt="">
                </div>
                <div id="footer">
                    <span class="span">
                      <!-- <ion-icon ios="ios-heart" md="md-heart" class="zan" (click)="dianZan(i)" [class.heart]="userzanflag[i]"></ion-icon> -->
                      <ion-icon ios="ios-heart" md="md-heart" class="zan" (click)="dianZan(i)"></ion-icon>
                      <span>13</span>
                    </span>
                    <span class="span">
                      <!-- <ion-icon md="md-star" ios="ios-star" class="collect" (click)="Collect(i)"  [class.star]="usercollectflag[i]"></ion-icon> -->
                      <ion-icon md="md-star" ios="ios-star" class="collect" (click)="Collect(i)"></ion-icon> 
                      <span>5</span>
                    </span>
                    <span class="span">
                        <ion-icon ios="ios-text" md="md-text" class="comment" (click)="Comment(i)"></ion-icon>
                        <span>3</span>
                    </span>
                </div>
              </li>

              <li class="li">
                  <div id="header">
                      <div class="div1"><img src="../../assets/icon/19.jpg" alt=""></div>
                      <div class="div2"><span>向日葵</span><span>2019.01.26</span></div>
                      <div class="div3">
                          <ion-icon name="ios-arrow-down" (click)="showList()"></ion-icon>
                          <ul class="hideList">
                            <li (click)="edit(item.pID,i)"><i class="iconfont icon-bianji"></i>编辑</li>
                            <li (click)="del(item.pID,i)"><i class="iconfont icon-picture-delet"></i>删除</li>
                          </ul>
                      </div>
                  </div>
                  <div id="contentdetail">
                    <p>
                      《菩萨蛮·小山重叠金明灭》
  
                      【唐】温庭筠
                      
                      小山重叠金明灭，鬓云欲度香腮雪。
                      
                      懒起画蛾眉，弄妆梳洗迟。
                      
                      照花前后镜，花面交相映。
                      
                      新帖绣罗襦，双双金鹧鸪。
                     
                    </p>
                    <img src="../../assets/icon/26.jpg" alt="">
                  </div>
                  <div id="footer">
                      <span class="span">
                        <!-- <ion-icon ios="ios-heart" md="md-heart" class="zan" (click)="dianZan(i)" [class.heart]="userzanflag[i]"></ion-icon> -->
                        <ion-icon ios="ios-heart" md="md-heart" class="zan" (click)="dianZan(i)"></ion-icon>
                        <span>13</span>
                      </span>
                      <span class="span">
                        <!-- <ion-icon md="md-star" ios="ios-star" class="collect" (click)="Collect(i)"  [class.star]="usercollectflag[i]"></ion-icon> -->
                        <ion-icon md="md-star" ios="ios-star" class="collect" (click)="Collect(i)"></ion-icon> 
                        <span>5</span>
                      </span>
                      <span class="span">
                          <ion-icon ios="ios-text" md="md-text" class="comment" (click)="Comment(i)"></ion-icon>
                          <span>3</span>
                      </span>
                  </div>
                </li>
            </ul>
      </div>
    </div>
  </div>
</ion-content>
