

ion-content{
    #content{
        .head{
            margin-top: 20px;
            width: 100%;
            height: 120px;
            // border: 1px solid yellow;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
        ul{ 
            margin-left: 40px;
            width:280px;
            // height: 500px;
            // border: 1px solid black;
            li{
                line-height:40px;
                // border: 1px solid blue;
                margin:0 auto;
                input{
                    margin-left:5px;
                    // border:none;
                    border: 1px solid grey;
                    // width: 200px;
                    margin-left: 15px;
                    height: 30px;
                    padding-left: 10px;
                }
                img{
                    width: 23px;
                    height: 23px;
                    margin-top: 10px;
                }
                .line{width: 220px;}
                form{display: inline-block;}
                select{margin-left: 5px;}
                textarea{
                    margin:5px 5px 60px 5px;
                    display: inline-block;
                    position: absolute;
                    border: 1px solid grey;}
            }
        }
    }
    
}

ion-footer{
    height: 40px;
    background-color:rgb(117, 117, 246);
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 20px;
    letter-spacing:2px;
}