<ion-header >
  <ion-toolbar>
      <ion-buttons slot="start" class="button1">
          <ion-button (click)="back()">
              <ion-icon style="float:left;width:50px;height:30px;color:black" slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>
      编辑个人资料
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="content">
    <div class="head">
      <img id="img" src="../../assets/{{data?.avatar}}">
      <form action="" enctype="multipart/form-data">
        <input type="file" name="file" id="file" class="inputfile" (click)="changeImg($event)" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg"/> 
        <label for="file" class='btn btn-success'>更换头像</label>
        <!-- <input type="file" value="更换头像" (click)="changeImg()"/> -->
      </form>
    </div>
    <ul>
      <li>
        <img  src="../../assets/img/people.png" alt="">
        <input style="width: 240px;" type="text" placeholder="{{data?.nickname}}" class="line" [(ngModel)]="nickname">
      </li>
      <li>
        <img src="../../assets/img/sex.png" alt="" style="float:left;font-size:20px;">
        <form>
          <label><input name="sex" type="radio" value="男" [(ngModel)]="sex">男</label> 
          <label><input name="sex" type="radio" value="女" [(ngModel)]="sex">女</label>
        </form>
      </li>
      <li >
        <img src="../../assets/img/introduction.png" style="display:inline-block;">
        <textarea style="margin-left: 15px;" cols="30" rows="3" placeholder="{{data?.signature?data?.signature:'介绍一下自己吧~'}}" [(ngModel)]="introduction"></textarea>
      </li>
    </ul>
  </div>
</ion-content>

<ion-footer (click)="save()">
    
    完成

</ion-footer>