<ion-header>
        <ul class="navList">
            <li  (click)="isClick(0)" [class.first]="isActive==0" style="border-top-left-radius:3px;border-bottom-left-radius:3px">分类</li>
            <li  (click)="isClick(1)" [class.second]="isActive==1"  style="border-top-right-radius:3px;border-bottom-right-radius:3px;">创作</li>
        </ul>
</ion-header>

<ion-content>   
    <div [ngSwitch]='isActive' id="switch">
        <div *ngSwitchCase='0' id="switch0">
            <div style="width:500px;margin-top:10px;"></div>
            <p>选集</p>
            <ul class="classify">
                <li *ngFor="let item of selections;let i=index" (click)="gopoemlist1(i)">
                    <img src="{{item.imgsrc}}" alt="" >
                    <span>{{item.imgname}}</span>
                </li>
            </ul>
            <p>主题</p>
            <ul class="classify">
                <li *ngFor="let item of theme;let i=index" (click)="gopoemlist2(i)">
                    <img src="{{item.imgsrc}}" alt="">
                    <span>{{item.imgname}}</span>
                </li>
            </ul>
            <p>写景</p>
            <ul class="classify">
                <li *ngFor="let item of scene;let i=index" (click)="gopoemlist3(i)">
                    <img src="{{item.imgsrc}}" alt="">
                    <span>{{item.imgname}}</span>
                </li>
            </ul>
           
        </div>


      <div *ngSwitchCase='1' id="switch1">
        <div>
            <span class="span2">
                已发布({{num}})
                <img src="../../assets/icon/write.png">
            </span>
            
            <ul id="ul">
                <li class="li" *ngFor="let item of data,let i = index">
                    <div id="header">
                        <div class="div1"><img src="../../assets/{{item?.avatar}}" alt=""></div>
                        <div class="div2"><span>{{item?.nickname}}</span><span>{{item?.time.replace("T"," ").slice(0,item.time.length-5)}}</span></div>
                        <div class="div3">
                            <ion-icon name="ios-arrow-down" (click)="showList(i)"></ion-icon>
                            <ul class="hideList">
                                <li><i class="iconfont icon-fenxiang-copy"></i>分享到<i class="iconfont icon-qq1"></i><i class="iconfont icon-weixin"></i></li>
                                <li (click)="edit(item.pID,i)"><i class="iconfont icon-bianji"></i>编辑</li>
                                <li (click)="del(item.pID,i)"><i class="iconfont icon-picture-delet"></i>删除</li>
                            </ul>
                        </div>
                    </div>
                    <div id="content">
                        <p>
                        {{item?.content}}
                        </p>
                        <img src="../../assets/{{item?.image}}" alt="">
                    </div>
                    <div id="footer">
                        <span class="span">
                            <ion-icon ios="ios-heart" md="md-heart" class="zan" (click)="dianZan(i)" [style.color]="Flag0[i]?'#fd273f':'gray'"></ion-icon>
                            <span>{{item.love}}</span>
                        </span>
                        <span class="span">
                            <ion-icon md="md-star" ios="ios-star" class="collect" (click)="Collect(i)" [style.color]="Flag1[i]?'#fd273f':'gray'"></ion-icon> 
                            <span>{{item.collection}}</span>
                        </span>
                        <span class="span">
                            <ion-icon ios="ios-text" md="md-text" class="comment" (click)="Comment(i)"></ion-icon>
                            <span>{{item.assess_num}}</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
      </div>
    </div>
</ion-content>