ion-header{
    border: none;   
    .navList{
        margin-top: 5px;
        color:blue;
        // border:red 2px solid;
        height: 30px;
        line-height: 30px;
        padding-left: 32%;
        li{
            height: 29px;
            text-align: center;
            width: 25%;
            float: left;
            border:1px solid blue;
            border-radius:5px;
        
        }
        .first{
            color:white;
            background: blue;
        }
        .second{
            color:white;
            background: blue;
        }
    }
}

ion-content{
    #switch0{
        span{
            display: block;
        }
        .span2{
            height:40px;
            line-height: 40px;
            padding-left: 10px;
            margin-top:10px;
            font-size:18px;
            border:1px solid gainsboro;
        }

        #ul{
            width: 100%;
            background-color:rgb(248, 244, 244); 
            padding: 0;
            list-style: none;
            margin-top:10px;
            .li{
                width:100%;
                border: 1px solid gainsboro;
                background-color: white;
                margin-top:10px;
                #header{
                    width: 100%;
                    height: 50px;
                    // border: 1px solid yellow;
                    .div1{
                        float: left;
                        width:80px;
                        height:50px;
                        // border:1px solid blue;
                        img{
                            width:50px;
                            height:50px;
                            object-fit:cover;
                            border-radius: 50%;
                            margin-left: 10px;
                        }
                    }
                    .div2{
                        float: left;
                        width:150px;
                        height:50px;
                        // border:1px solid blue;
                        span{
                            display:block;
                            margin-top:2px;
                            line-height: 25px;
                            font-size:14px;
                        }
                    }
                    .div3{
                        float: left;
                        width:10%;
                        height:50px;
                        text-align: center;
                        line-height: 40px;
                        position: relative;
                        ion-icon{
                            font-size:25px!important;
                            color:gray;
                        }
                        border:1px solid blue;
                    }
                }
                
                #content{
                    // border: 1px solid purple;
                    width: 100%;
                    img{
                        width:120;
                        height:120px;
                        margin-left:10px;
                        margin-top:10px;
                        //display: block;
                    }
                    p{
                        margin-top:5px;
                        margin-left:10px;
                        margin-right:10px;
                    }
                }
                #footer{
                    // border: olive 1px solid;
                    height: 35px;
                    .span{
                        height: 35px;
                        float: left;
                        text-align: center;
                        line-height: 35px;
                        width: 33.3%;
                        // border:1px solid red;
                        font-size: 18px;
                        ion-icon{
                            width: 20px;
                            height: 20px;
                            font-size:20px;
                            color: rgb(241, 75, 75);
                            // border: 1px solid rebeccapurple;
                            margin-top: 5px;
                        }
                        .heart{
                            color:#fd273f;
                        }
                        .star{
                            color:rgb(252, 249, 63);
                        }
                        span{
                            display: inline-block;
                            // border:1px solid #2ef04e;
                        }
                    }
                }
            }
        }
        .hideList{
            margin:0;
            padding: 0;
            position: absolute;
            top:20px;
            right: 5px;
            width:170px;
            height:120px;
            border:1px solid black;
            background:rgba(0, 0, 0,0.8);
            display: none;
            border-radius: 5px;
            li{
                color:white;
                cursor: pointer;
                line-height: 40px;
                text-align: left;
                height:40px;
                font-size:16px;
                width:170px;
                i{
                    margin-left: 10px;
                    margin-right: 10px;
                    font-size:20px!important;
                }
                .icon-qq1{
                    color:#76c5fa;
                    font-size:25px!important;
                    
                }
                .icon-weixin{
                    color:#2ef04e;
                    font-size:25px!important;
                }
            }
            
        }
    }

    }
        
    #switch1{
        p{
        //    border: 1px solid purple;
           color:rgb(170, 8, 8);
           font-size:  18px ;
           font-weight: 200;
           padding-left: 20px;
           margin-top: 10px;
           margin-bottom: 10px;
        }
        .classify{
            margin: 0;
            padding:0;
            width:100%;
            height: 237px;
            margin:0 auto;
            // border:1px solid black;
            li{
                width:80px;
                height: 80px;
                float: left;
                margin-left: 2.7%;
                margin-bottom:5px;
                // border:1px solid red;
                position: relative;
                text-align: center;
                img{
                    width:70%;
                    height:70%;
                    object-fit:cover;
                    overflow: hidden;
                    //border:1px solid black;
                    border-radius: 50%;
                }
                span{
                    // border:1px solid red;
                    width:100%;
                    height:20%;
                    position: absolute;
                    bottom: 3px;
                    left: 0px;
                    font-size: 10px;
                    color: rgb(56, 54, 54);
                    
                }
                
            }
        }
    
        
        
}
        
    
    