<ion-header (click)="goSet()">
    <ion-toolbar>
        <ion-title>我</ion-title>
        <img src="assets/icon/set.png" class="set">
    </ion-toolbar>
</ion-header>

<ion-content>
<div class="content">       
    <div id="people">
        <img src="../../assets/{{data?.avatar}}" alt=""  (click)="setMyself()">
        <ul (click)="setMyself()">
          <li>{{data?.nickname}}</li>
          <li>{{data?.signature}}</li>
        </ul>
    </div>
  
    <div id="content1">
        <ul>
          <li (click)="goMylike()">喜欢<span>></span></li>
          <li (click)="goMycollect()">收藏<span>></span></li>
          <li (click)="goMyfollow()">关注<span>></span></li>
          <li (click)="goMycreate()">创作<span>></span></li>
        </ul>
    </div>

    <div id="content3">
            <ul>
                <li (click)="goSet()">个人设置<span>></span></li>
            </ul>
        </div>
    <div id="content4">
        <ul>
            <li (click)="recommentPoem()">推荐观看<span>></span></li>
            <li (click)="aboutUs()">关于我们<span>></span></li>
        </ul>
    </div>

</div>     
</ion-content>