<ion-header>
    <ion-toolbar>
        <ion-title>趣答</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="body">
        <div id="header">
            <div id="title">诗词大会</div>
            <div id="date">夏之节·十二期</div>
        </div>
        <div id="illustration">
           <p class="many-txt">
            截止时间：6月1日 00:00~24:00 <br>
            答题时间：5月1日-6月1日,每年总共十二期，每个月一期<br>
            参赛奖励：<br>
            状元：赠送三年会员；<br>
            榜眼：赠送二年会员；<br>
            探花：赠送一年会员；<br>
            前五十名：赠送一个月会员；<br>
            评奖标准：答题正确数量多者获胜，相同数量时间短者获胜。<br>
            题型说明：随机出题。总共30道题，每道题的时间为20秒。类型：10道点字成诗、10道选择题、10道看图猜诗。
            </p>
            <button type="button" (click)="showall()">展开</button>
        </div>

        <div class="play" (click)="play()">
                开始答题
        </div>

        <div id="gradeMe">
            <ul class="bigul">
                <li class="bigli">
                    <span id="num">{{data?.index+1}}</span>
                    <img src="../../assets/{{myAvatar}}" alt="" (click)="presentDetail()">
                    <ul>
                        <li>{{nickname}}</li>
                        <li style="font-size:12px;color:grey">
                            答对{{myRight_num}}道 &nbsp; 
                            用时{{minute}}分{{second}}秒
                        </li>
                    </ul>
                    <span id="identify">考生</span>
                </li>
            </ul>
        </div>

        <div id="gradeOther">
            <ul class="bigul">
                <li class="bigli">
                    <span id="num">1</span>
                    <img src="../../assets/{{result1[0]?.avatar}}" alt="">
                    <ul>
                        <li>{{result1[0]?.nickname}}</li>
                        <li style="font-size:12px;color:grey">答对{{result1[0]?.right_num}}道 &nbsp;用时{{result1[0]?.time.split(" ")[0]}}分{{result1[0]?.time.split(" ")[1]}}秒</li>
                    </ul>
                    <span class="identify">状元</span>
                </li>
                <li class="bigli">
                    <span id="num">2</span>
                    <img src="../../assets/{{result1[1]?.avatar}}" alt="">
                    <ul>
                        <li>{{result1[1]?.nickname}}</li>
                        <li style="font-size:12px;color:grey">答对{{result1[1]?.right_num}}道 &nbsp;用时{{result1[1]?.time.split(" ")[0]}}分{{result1[1]?.time.split(" ")[1]}}秒</li>
                    </ul>
                    <span class="identify">榜眼</span>
                </li>
                <li class="bigli">
                    <span id="num">3</span>
                    <img src="../../assets/{{result1[2]?.avatar}}" alt="">
                    <ul>
                        <li>{{result1[2]?.nickname}}</li>
                        <li style="font-size:12px;color:grey">答对{{result1[2]?.right_num}}道 &nbsp;用时{{result1[2]?.time.split(" ")[0]}}分{{result1[2]?.time.split(" ")[1]}}秒</li>
                    </ul>
                    <span class="identify">探花</span>
                </li>
                <li class="bigli" *ngFor="let item of result2,let i = index">
                    <span id="num">{{i+4}}</span>
                    <img src="../../assets/{{item?.avatar}}" alt="">
                    <ul>
                        <li>{{item.nickname}}</li>
                        <li style="font-size:12px;color:grey">答对{{item?.right_num}}道 &nbsp;用时{{item?.time.split(" ")[0]}}分{{item?.time.split(" ")[1]}}秒</li>
                    </ul>
                    <span class="identify">考生</span>
                </li>
               
            </ul>
        </div>
    </div>
    
</ion-content>

