<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  
</ion-toolbar>
</ion-header>

<ion-content>
  <ul class="ul" >
    <li class="li" [style.display]="result1?'block':'none'">诗人</li>
    <li *ngFor="let item of result1,let i = index" (click)="goPoemdetail()">
        <div>
            {{item.author}}
        </div><span style='color: red;'></span>
        <p>出师未捷身先死，长使英雄泪满襟。</p>
        
    </li>
    <li class="li" [style.display]="result2?'block':'none'">作品</li>
    <li *ngFor="let item of result2,let i = index" (click)="goPoemdetail()">
        <div>
            {{item.title}}<span>[{{item.dynasty}}]{{item.author}}</span>
        </div>
        <p>{{item.poem}}</p>
    </li>
    <li class="li" [style.display]="result3?'block':'none'">{{searchText}}</li>
    <li *ngFor="let item of result3,let i = index" (click)="goPoemdetail()">
        <div>
            {{item.title}}<span>[{{item.dynasty}}]{{item.author}}</span>
        </div>
        <p>{{item.poem}}</p>
    </li>
  </ul>

</ion-content>
