<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="button1">
      <ion-button (click)="back()">
          <ion-icon style="float:left;width:50px;height:30px;color:black" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div">
    <div class="div1">
        <span class="span1">原密码</span>&nbsp;&nbsp;
        <input [(ngModel)]="oldpwd" type="password" placeholder="请输入你原来的密码" id="phoneinp" >
    </div>
    <div class="div1">
        <span class="span1">新密码</span>&nbsp;&nbsp;
        <input [(ngModel)]="pwd" type="password" placeholder="请输入你的新密码" id="pwdinp" >
    </div>
    <div class="div1">
        <span class="span1">确认密码</span>&nbsp;&nbsp;
        <input [(ngModel)]="againpwd" type="password" placeholder="请确认你的新密码" id="againpwdinp">
    </div>
    <div id="info"></div>


    
</div>
</ion-content>
<ion-footer>
  <button (click)="setpwd()" class="">确定</button>
</ion-footer>
