<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="back()">
              <ion-icon style="float:left;width:50px;height:30px;color:blue" slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>关于我们</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
      <div class="header">
          <div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            大江东去的豪放明快、低头弄梅的婉媚曲折，每每读到都会有所触动。文学之美，时光洗练。传统文化，现代传承。
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;投资合作：<br>
          &nbsp;&nbsp;&nbsp;&nbsp;879396319<br>
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;微信公众号：<br>
          &nbsp;&nbsp;&nbsp;&nbsp;思诗App<br>
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;官方微博：<br>
          &nbsp;&nbsp;&nbsp;&nbsp;思诗<br>
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;官方网站：<br>
          &nbsp;&nbsp;&nbsp;&nbsp;sishi.top<br>
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;邮件联系：<br>
          &nbsp;&nbsp;&nbsp;&nbsp;sishi@qq.com<br>
          <br>

        </div>
        <div class="content">
            <ul class="ul1">
              <li style="border-bottom:0.5px solid rgb(233, 232, 232); ">服务协议<span>></span></li>
              <li>隐私政策<span>></span></li>
            </ul>
            <ul class="ul2">
                <li style="border-bottom:0.5px solid rgb(233, 232, 232); ">意见反馈<span>></span></li>
                <li>更多产品<span>></span></li>
              </ul>
        </div>
  </div>
</ion-content>
