<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="back()">
              <ion-icon style="float:left;width:50px;height:30px;color:black" slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>选择摘录范围</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ul id="theme">
        <li *ngFor="let item of selectedTheme,let i = index" (click)="poem(i)">
            {{item}}
        </li>
    </ul>   
</ion-content>
