<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>首页</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="poem">
            <ion-icon name="paper"></ion-icon>
            <ion-label>诗会</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="answer">
            <ion-icon name="brush"></ion-icon>
            <ion-label>趣答</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="my">
            <ion-icon name="person"></ion-icon>
            <ion-label>我的</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>