<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>                                                                             
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="poem">
        <div id="poemname">{{data?.title}}</div>
        <div id="poemauthor">[{{data?.dynasty}}]{{data?.author}}</div>
        <div id="poemcontent">
            <ul>
                <li *ngFor="let item of extract,let i = index" [style.color]="item==this.data.extract?'rgb(179, 3, 3)':'black'">
                    {{item}}
                </li>
            </ul>
        </div>
    </div>

    <div class="poemdetail">
        <ul class="navList">
            <li  (click)="isClick(0)" [class.first]="isActive==0">评析</li>
            <li  (click)="isClick(1)" [class.second]="isActive==1">注释</li>
            <li  (click)="isClick(2)" [class.third]="isActive==2">译文</li>
            <li  (click)="isClick(3)" [class.fourth]="isActive==3">赏析</li>
        </ul>
        <div [ngSwitch]='isActive' id="switch">

            <div *ngSwitchCase='0' id="switch1">
                <div >
                        &nbsp; &nbsp;{{data?.comment}}
                </div>
            </div>

            <div *ngSwitchCase='1' id="switch1">
                <div >
                        {{data?.note}}
                </div>  
            </div>

            <div *ngSwitchCase='2' id="switch1">
                <div >
                        &nbsp; &nbsp;{{data?.translation}}
                </div>       
            </div>

            <div *ngSwitchCase='3' id="switch1">
                <div >
                       &nbsp; &nbsp;{{data?.appreciation}}
                </div>
            </div>

        </div>

    </div>

    <div class="authordetail">
        <span>作者</span>
        <div>
            <p class="many-txt" > 
                 &nbsp; &nbsp;&nbsp; &nbsp;{{data?.aboutAuthor}}
            </p>
            <br>
            <button type="button" (click)="showall()">展开</button>
        </div>
       
    </div>
        
    
    <div class="img">
        <span>配图</span>
        <div>
            <img src="../../assets/{{data?.image}}">
        </div>
    </div>

    <div class="extract">
        <span>摘录</span>
        <div>
            {{data?.extract}}
        </div>
    </div>

    <div class="poemlist">
        <span>分类</span>
        <div>
            {{data?.name1}}、{{data?.name2}}、{{data?.name3}}
        </div>
    </div>

    <!-- <div class="comment">
        <span>评论</span>
        <ul class="exter">
            <li class="exterli">
                <span id="user" ><img src="../../assets/icon/16.jpg"></span>
                <div id="commentdetail">
                    <p style="margin:0  " class="name">向日葵</p>
                    <p style="margin:0  ">哇！好感动！这首诗真是倾国倾城，我好喜欢。非常符合我的心境。大爱大爱。要多学习我国古诗。</p>
                    <p style="margin:0  " class="data">
                        2019.01.06 &nbsp; 23:45:38
                    </p>
                </div>
            </li>
            <li class="exterli">
                <span id="user" ><img src="../../assets/icon/23.jpg"></span>
                <div id="commentdetail">
                    <p style="margin:0  " class="name">向日葵</p>
                    <p style="margin:0  ">哇！好感动！这首诗真是倾国倾城，我好喜欢。</p>
                    <p style="margin:0  " class="data">
                        2019.01.06 &nbsp; 23:45:38
                    </p>
                </div>
            </li>
        </ul>
        <br>
    </div>  -->
    


</ion-content>


      
<!-- <ion-footer>
    <input type="text" id="inpcomment">
    <button id="btncomment" (click)='comment()'>评论</button>
</ion-footer> -->