<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="back()" style="color:black">
              取消
          </ion-button>
      </ion-buttons>

      <button (click)="save()" class="save" style="color:black">
          发布
      </button>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding" >
<div class="content">
    <textarea placeholder="来分享你的快乐时光吧~" clearInput="true" [(ngModel)]="text"></textarea>
</div>
<div class="below">

</div>

</ion-content>