<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="button1">
      <ion-button (click)="back()">
          <ion-icon style="float:left;width:50px;height:30px;color:black" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>设置</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li>账号管理<div>{{userId}}</div></li>
    <li >手机号<div>{{phone}}</div></li>
    <li (click)="goChangePw()">修改密码<div><ion-icon name="ios-arrow-forward"></ion-icon></div></li>
    <li (click)="goSetdata()">设置个人资料<div><ion-icon name="ios-arrow-forward"></ion-icon></div></li>
  </ul>
</ion-content>
<ion-footer>
  <button (click)="goLogin()">退出登录</button>
</ion-footer>