<ion-header>
  <ion-toolbar>
    <ion-title>类型一</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
      <span id="time">{{time}}s</span>
    <div class="title">
      {{this.question?.title}}
    </div>
    <form name="myform">
      <input id="answerA" readonly="readonly" type="text" name="answerA" value="{{this.question?.optionA}}" (click)='ans("A")'>
      <input id="answerB" readonly="readonly" type="text" name="answerB" value="{{this.question?.optionB}}" (click)='ans("B")'>
      <input id="answerC" readonly="readonly" type="text" name="answerC" value="{{this.question?.optionC}}" (click)='ans("C")'>
    </form>
    </div>
</ion-content>

