<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon style="float:left;width:50px;height:30px;color:blue" slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="title">
    <img src="{{poemsrc}}">
    <span>{{poemlist}}</span>
  </div>
  <ul class="ul">
      <li *ngFor="let item of data;let i=index" (click)="goPoemdetail(i)">
          <div>
              {{item.title}}<span>[{{item.dynasty}}]{{item.author}}</span>
          </div>
          <p>{{item.extract}}</p>
      </li>
    </ul>
</ion-content>
