<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="head">
    <input type="text" placeholder="搜索" [(ngModel)]="searchText">
    <ion-icon ios="ios-search" md="md-search" id="search" (click)="search(0)"></ion-icon>
    <!-- <span>取消</span> -->
  </div>
  <div>
    <p style="margin-left:15px">搜索主题</p>
    <ul>
      <li (click)="search(1)">风景</li>
      <li (click)="search(2)">离别</li>
      <li (click)="search(3)">思乡</li>
      <li (click)="search(4)">战争</li>
    </ul>
  </div>
</ion-content>
