ion-header{
  span{
    display: block;
    float: left;
    border: 1px solid rgb(223, 221, 221);
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    margin-left: 2%;
    text-align: center;
    line-height: 24px;
    border-radius: 3px;
    color: rgb(149, 148, 148);
  }
  ion-icon{
    float:right;
    width: 25px;
    height: 25px;
    margin-right: 2%;
  }
  
}

ion-content{
  .body{
    overflow:hidden;
    width: 100%;
    height: 100%;
    // border:1px solid red;
    background-color:rgb(248, 244, 244)!important;
    ion-slides{
      ion-slide{
        // border:1px solid green;
        .total{
          background-color: white;
          width: 90%;
          height: 500px;
          // border: 1px solid red;
          margin-top: 50px;
        
          .topimg{
            width: 100%;
            height: 40%;
            // float: left;
            // border: 1px solid blue;
            // background: #000;//给图片上蒙版第一步
            img{
              height: 100%;
              width: 100%;
              object-fit:cover;
              // opacity:0.8; filter: alpha(opacity=60);//给图片上蒙版第二部
            }
          }
          .bottomword{
            width: 100%;
            height: 60%;
            // float: left;
            // border: 1px solid blue;
            // display: flex;  justify-content: center;align-items:center;//让div中的内容上下居中，左右居中。
            padding-left: 5%;
        
            #firstrow{
              height: 90%;
              width: 50px;
              // border: 1px solid orange;
              float: right;
              font-family: STXingkai  ;
              // padding-top: 20%;
              font-size: 26px;
              margin-top: 5%;
              margin-right: 20%;
            }
            #secondrow{
              height: 90%;
              width: 50px;
              // border: 1px solid palevioletred;
              float: right;
              font-family: STXingkai  ;
              // padding-top: 20%;
              font-size: 26px;
              margin-top: 5%;
            }
            #thirdrow{
              font-family: STXingkai  ;
              height: 90%;
              width: 50px;
              // border: 1px solid green;
              float: left;
              font-size: 26px;
              position: relative;
              margin-top: 5%;
              margin-left: 10%;
              p{
                position: absolute;
                bottom: 0px;
              }
            }
          }
        }
      }
    }
  }
  
}