<ion-header>
    <ion-toolbar>
        <span (click)="gohometotal()" id="poemtype">全部</span>
        <ion-icon ios="ios-search" md="md-search" (click)="search()" ></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="body">
        <ion-slides>
                <ion-slide *ngFor="let item of poem,let i = index" (click)="gohometail(i)">
                    <div class="total">
                        <div class="topimg"><img src="../../assets/{{item?.image}}"></div>
                        <div class="bottomword">
                            <div id="thirdrow"><p>{{item?.author}}</p></div>
                            <div id="firstrow">{{item.extract.slice(0,item.extract.length-1).split('，')[0]}}</div>
                            <div id="secondrow">{{item.extract.slice(0,item.extract.length-1).split('，')[1]}}</div>
                            
                        </div>
                    </div>
                </ion-slide>
        </ion-slides>
    </div>    
</ion-content>