<ion-header>
    <ion-toolbar>
        <span (click)="gohometotal()">全部</span>
        <ion-icon ios="ios-search" md="md-search" (click)="search()" ></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- 首页
    <ion-button color="primary" [routerLink]="[ '/tabs/home/hometail' ]"> 跳转到按钮组件页面 </ion-button> -->
    <div class="body">
            <ion-slides>
                    <ion-slide (click)="gohometail()">
                        <div class="total">
                            <div class="leftimg"><img src="../../assets/icon/29.jpg"></div>
                            <div class="rightword">
                                <div id="firstrow">在天愿作比翼鸟</div>
                                <div id="secondrow">在地愿为连理枝</div>
                                <div id="thirdrow"><p>无名氏</p></div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide >
                        <div class="total">
                            <div class="leftimg"><img src="../../assets/icon/27.jpg"></div>
                            <div class="rightword">
                                <div id="firstrow">在天愿作比翼鸟</div>
                                <div id="secondrow">在地愿为连理枝</div>
                                <div id="thirdrow">无名氏</div>
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide >
                        <div class="total">
                            <div class="leftimg"><img src="../../assets/icon/28.jpg"></div>
                            <div class="rightword">
                                <div id="firstrow">在天愿作比翼鸟</div>
                                <div id="secondrow">在地愿为连理枝</div>
                                <div id="thirdrow">无名氏</div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>
    </div>
    
</ion-content>